{% extends 'users/admin_base.html' %}
{% load static %}
{% block title %}Update Stock - {{product.name}}{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1 class="mb-4 text-center">Update Stock for : <strong>{{product.name}}</strong></h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 border shadow-sm rounded-4">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <h6 class="text-center mt-2 mb-4">The Current Quantity In stock is {{product.quantity_in_stock}}</h6>
                        <div class="mb-4">
                            <label for="quantity_change" class="form-label fw-semibold">Quantity Change:</label>
                            <input type="number" name="quantity_change" id="quantity_change" class="form-control form-control-lg" required placeholder="Enter postive or negative number"/>
                            <small class="form-text">Enter postive to add stock, negative to reduce stock.</small>
                        </div>
                        <div class="mb-4">
                            <label for="note" class="form-label  fw-semibold">Note (optional):</label>
                            <textarea type="number" name="note" id="note" rows="3" class="form-control" placeholder="Reason for stock update"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg shadow-sm">Update Stock</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}